// Whites
$white: #ffffff;
$white-080: #ffffff8a;
$white-200: #d8d6d6;

// Blacks
$black: #000000;
$black-100: #0c0c0c;
$black-180: #181818;
$black-270: #272432;
$black-333: #333;

// Accent
$accent-color: #007acc;

:root {
	/* Base Theme Colors */
	--bg: #{$white};
	--fg: #{$black};
	--bg-div: #{$white};

	--text: #{$black};
	--text-heading: #{$white};

	--header-bg: #{$black-270};
	--footer-bg: #{$black-270};
}

.dark {
	--bg: #{$black-100};
	--fg: #{$white};
	--bg-div: #{$black-100};
	--bg-div-shadow: #{$black-180};

	--text: #{$white};
	--text-heading: #{$white};

	--header-bg: #{$black-180};
	--footer-bg: #{$black-180};
}